/* --- MOBILE STYLES --- */

.landing .name {
  font-size: 48px;
}
.landing .description {
  font-size: 22px;
}

.landingImage {
  right: 0px;
}

/* .landing .socialIcons {
  display: none;
} */

.landing .socialIcons {
  display: flex;
  position: absolute;
  left: 50px;
  bottom: 20px;
}

/* --- MEDIA QUERIES --- */

@media (min-width: 800px) {
  .landing .name {
    font-size: 50px;
  }

  .landing .description {
    font-size: 30px;
  }

  .landingImage {
    bottom: 0;
    
  }

  .landing .socialIcons {
    flex-direction: column;
  }
}
